.message {
    margin-bottom: 10px;
    color: #fff;
    padding: 12px 12px 5px;
    border-radius: 5px;
    background: #1c2733;
    animation-name: new-message;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.message-author {
    margin-right: 10px;
    font-size: 13px;
    color: #64cefd;
}
.message-text {
    font-weight: 300;
    margin-bottom: 0;
}

@keyframes new-message {
    0%   {background: #3c5978;}
    100% {background: #1c2733;}
}